<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TF - {% block title %}{% endblock %} AirBNB</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'nav/nav.html.twig' %}
        {% for successMessage in app.session.flashBag.get('success_messages') %}
            <div class="alert alert-success" role="alert">{{ successMessage }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
